.url-input > * {
  font-size: 1.2rem;
}

@media screen and (max-width: 400px) {
  .url-input > * {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .summary {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .summary {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.preview {
  width: 600px;
  height: 340px;
}

.summary {
  max-width: 660px;
}
